.insta-testi {
    width: 30vw;
}

@media (max-width: 1090px) {
    .insta-testi {
        min-width: 50vw !important;
    }
}

@media (max-width: 720px) {
    .insta-testi {
        min-width: 70vw !important;
    }
}

@media (max-width: 480px) {
    .insta-testi {
        min-width: 100vw !important;
    }
}