@media (max-width: 426px) {
    .progress-bar {
        display: none !important;
    }
}

nav {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.nav-logo {
    margin-left: 3vw;
}

.toggler {
    color: transparent !important;
}

.nav-link {
    color: black !important;
    margin-left: 15px;
    transition: 0.3s ease !important;
}

.nav-icon {
    transition: 0.3s ease !important;
}

.nav-link:hover {
    color: rgb(253,197,0) !important;
}

.nav-heart:hover {
    color: rgb(248, 40, 40) !important;
}

.nav-cart:hover {
    color: rgb(167, 167, 167) !important;
}

.nav-user:hover {
    color: rgb(0, 152, 253) !important;
}

.search-box {
    margin-left: 10px;
}

.search-button {
    margin: 0 15px 0 10px !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
    position: relative !important; 
}