@font-face {
  font-family: 'Value Sans Pro';
  src: url('../font/ValueSansPro-Regular.eot');
  src: local('Value Sans Pro Regular'), local('ValueSansPro-Regular'),
      url('../font/ValueSansPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/ValueSansPro-Regular.woff2') format('woff2'),
      url('../font/ValueSansPro-Regular.woff') format('woff'),
      url('../font/ValueSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('../font/ValueSansPro-MediumItalic.eot');
  src: local('../font/Value Sans Pro Medium Italic'), local('ValueSansPro-MediumItalic'),
      url('../font/ValueSansPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../font/ValueSansPro-MediumItalic.woff2') format('woff2'),
      url('../font/ValueSansPro-MediumItalic.woff') format('woff'),
      url('../font/ValueSansPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: '../font/Value Sans Pro';
  src: url('../font/ValueSansPro-Italic.eot');
  src: local('../font/Value Sans Pro Italic'), local('ValueSansPro-Italic'),
      url('../font/ValueSansPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('../font/ValueSansPro-Italic.woff2') format('woff2'),
      url('../font/ValueSansPro-Italic.woff') format('woff'),
      url('../font/ValueSansPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('../font/ValueSansPro-Bold.eot');
  src: local('Value Sans Pro Bold'), local('ValueSansPro-Bold'),
      url('../font/ValueSansPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/ValueSansPro-Bold.woff2') format('woff2'),
      url('../font/ValueSansPro-Bold.woff') format('woff'),
      url('../font/ValueSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('../font/ValueSansPro-BlackItalic.eot');
  src: local('Value Sans Pro Black Italic'), local('ValueSansPro-BlackItalic'),
      url('../font/ValueSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../font/ValueSansPro-BlackItalic.woff2') format('woff2'),
      url('../font/ValueSansPro-BlackItalic.woff') format('woff'),
      url('../font/ValueSansPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('../font/ValueSansPro-Black.eot');
  src: local('Value Sans Pro Black'), local('ValueSansPro-Black'),
      url('../font/ValueSansPro-Black.eot?#iefix') format('embedded-opentype'),
      url('../font/ValueSansPro-Black.woff2') format('woff2'),
      url('../font/ValueSansPro-Black.woff') format('woff'),
      url('../font/ValueSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('../font/ValueSansPro-Medium.eot');
  src: local('Value Sans Pro Medium'), local('ValueSansPro-Medium'),
      url('../font/ValueSansPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('../font/ValueSansPro-Medium.woff2') format('woff2'),
      url('../font/ValueSansPro-Medium.woff') format('woff'),
      url('../font/ValueSansPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Value Sans Pro';
  src: url('../font/ValueSansPro-BoldItalic.eot');
  src: local('Value Sans Pro Bold Italic'), local('ValueSansPro-BoldItalic'),
      url('../font/ValueSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../font/ValueSansPro-BoldItalic.woff2') format('woff2'),
      url('../font/ValueSansPro-BoldItalic.woff') format('woff'),
      url('../font/ValueSansPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Value Sans Pro', sans-serif !important; 
  font-weight: 500;
}

html, body {
  height: 100%;
}
#webpack-dev-server-client-overlay {
  display:none;
}
#launcher-svg-container {
  position:absolute;
  bottom:10vh;
  right:10vw;
  z-index:+10;
}