.newsletter-container {
    height: 60vh;
    display: flex;
    align-items: center;
    background-image: url('https://cdn.discordapp.com/attachments/1091562630591811594/1117464218954895461/newsletter-banner.webp');
    justify-content: center;
    flex-direction: column;
}

.newsletter-title {
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.newsletter-desc {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #fff;
}

.input-container {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.newsletter-input {
    border: none;
    flex: 8;
    padding-left: 20px;
}

.input-button {
    flex: 1;
    border: 1px solid teal;
    background-color: teal;
    color: white;
}