@media (max-width: 1506px) { 
    .splide__slide{
        overflow: hidden !important;
        display: flex;
        justify-content: center;
    }

    #home-carousel {
        height: auto !important;
        min-width: 100%;
    }
    
    #home-carousel .img-carousel {
        min-width: 100vw !important;
        border-radius: none !important;
        height: auto !important;
    }

    #home-carousel .splide__arrow--next,
    #home-carousel .splide__arrow--prev {
        display: none;
    }
}

#home-carousel {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    max-width: 90%;
    align-items: center;
}

#home-carousel .img-carousel{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    border: none;
    border-radius: 15px;
}

#home-carousel .splide__arrow--next,
#home-carousel .splide__arrow--prev {
    transition: 0.3s ease;
    opacity: 1;
    background-color: transparent;
    font-size: 2rem;
}

#home-carousel .splide__arrow--next:hover, 
#home-carousel .splide__arrow--prev:hover {
    background-color: lightgray;
    opacity: 0.5;
}

#home-carousel .splide__pagination__page {
    opacity: 1;
}

#home-carousel .splide__pagination__page.is-active{
    transform: scale(1.5) translateY(-1px);
}
