.isi {
    transition: backdrop-filter 0.4s ease; 
  }
  
.isi:hover {
    backdrop-filter: blur(5px);
}

.shop-button{
  transition: 0.3s ease;
}

.shop-button:hover{
  background-color: black;
  color: white;
}